@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC');

header {
  width: auto;
  height: 2%;
  padding: 3% 10%;
  margin: 1% 1% 5% 1%;
  display: grid;
  background-color: rgba(232, 236, 241, 1);
  border-radius: 10px;
}
footer {
  width: auto;
  height: 30px;
  padding: 5% 10%;
  margin: 1% 1% 1% 1%;
  display: grid;
  background-color: rgba(232, 236, 241, 1);
  border-radius: 10px;
}
h2 {
  font-size: 20px;
  text-align: center;
  color: #2a3444;
  font-family: 'Noto Sans SC', sans-serif;
}
.sign-up-form {
  display: grid;
  width: 18%;
  height: 50%;
  padding: 10px;
  margin: 5%;
  border-radius: 8px;
  border: 2px;
  border-color:	#ff7373;
  grid-template-rows: auto-fit;
  box-shadow: inset 0 0 250px #ff7373;

}
.form {
  display: grid;
  width: 60%;
  padding: 12px 20px;
  margin: 8% 10%;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid;
  border-color: rgba(232, 236, 241, 1);
  outline: none;
  font-size: 14px;
  font-family: 'Noto Sans SC', sans-serif;
}
.dobform {
  display: grid;
  width: 60%;
  padding: 8px 20px;
  margin: 8% 10%;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid;
  border-color: rgba(232, 236, 241, 1);
  outline: none;
  font-size: 14px;
  text-align: center;
  font-family: 'Noto Sans SC', sans-serif;
}
.dob {
  font-family: 'Noto Sans SC', sans-serif;
  padding: 20% 8% 0% 8%;
  margin: 5%;
}
@media screen and (max-width: 320px) {
 .form {
   display: grid;
   width: 60%;
   padding: 6px 10px;
   margin: 4% 5%;
   border-radius: 8px;
   background-color: transparent;
   border: 2px solid;
   border-color: rgba(232, 236, 241, 1);
   outline: none;
   font-size: 14px;
  }
}
.button {
  display: grid;
  grid-template-rows: auto auto auto;
  width: 60%;
  padding: 10px 20px;
  margin: 8% 20%;
  border-radius: 8px;
  background-color: rgba(34, 167, 240, 1);
  border: 4px solid;
  border-color: rgba(25, 181, 254, 1);
  outline: none;
  font-size: 14px;
  cursor: pointer;
  font-family: 'Noto Sans SC', sans-serif;
}
@media (max-height: 800px) {
  p {
    font-size: 10px;
  }
}
@media (max-height: 800px) {
   {
    font-size: 10px;
  }
}
