<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="static/css/stylesheet.css">
<title> Doyenne | Signup</title>
</head>

<body>

<header>
  <div class="topnav">
  <a href="#home">Home</a>
  <a href="#profile">Profile</a>
    <a href="#network">Network</a>
  <a href="#contact">Contact</a>
  <input class="search" type="search" required placeholder="Search">
  </div>
</header>


<div class="container">

  <h2>{{message}}</h2>

  <div class="sign-up-form">
    <form action="/confirmation" method="post">
      <h2>Register now to find flexible working opportunities!</h2>
        <input class="form" type="text" required placeholder="First Name">
        <input class="form" type="text" required placeholder="Last Name">
        <input class="form" type="email" required placeholder="Email Address">
        <button class="button" type="submit">Register</button>
    </form>
  </div>

</div>

<footer>
</footer>

</body>
</html>
